* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:
    system-ui, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  /* background-color: #f4f4f4; */
  background-color: #fff0e5;
}
header {
  img {
    width: 60px;
    height: auto;
  }
  margin-top: 10px;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* adding scrolling effect to navbar */
    position: sticky;
    top: 0;
    background-color: transparent;
    transition: 0.3s;
    margin-left: 120px;
    margin-right: 120px;
    /* padding-left: 73px;
    padding-right: 120px; */
  }
  .link1,
  .link2,
  .link3,
  .link4 {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;

    a {
      color: #333;
      font-size: 18px;
      transition: color 0.3s ease;
      text-decoration: none;
      font-size: 15px;
      &:hover {
        color: #3a10e5;
      }
    }
  }

  .buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
    align-items: center;
    &:hover {
      color: #3a10e5;
    }
    .signup {
      background-color: #3a10e5;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      line-height: 22px;
      font-size: 14px;
      font-weight: 600;
      &:hover {
        background-color: #5d3be6;
      }
    }

    .login {
      background-color: transparent;
      color: #333;
      padding: 10px 20px;
      border: none;
      font-weight: 600;
      font-size: 15px;
      /* border-radius: 5px; */
      cursor: pointer;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;
      &:hover {
        color: #3a10e5;
      }
    }
  }
}
/* main-content-area */

.main-content-container {
  display: flex;
  margin-left: 73px;
  margin-right: 120px;
  /* adding aside part */
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-left: 40px; */
    width: 320px;
    background-color: #fff0e5;
    padding-top: 25px;
    height: 100%;
    h3 {
      font-size: 18px;
      font-weight: 700;
      color: #333;
      margin-bottom: 18px;
    }
    p {
      font-size: 15px;
      font-weight: 480;
      color: #333;
      margin-bottom: 17px;
      &:hover {
        color: #3a10e5;
      }
    }
  }
  /*  adding main section part  */
  main {
    width: 100%;
    .main-content {
      border: 1px solid black;
      height: 130px;
      padding: 20px 20px;
      margin-top: 25px;
      margin-left: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.425rem;
      line-height: 35px;
      /* background-color: blue; */
      gap: 40px;
      outline: #333;
    }
    /* upgrade-button */
    .get-started {
      height: 55px;
      width: 170px;
      background-color: #3a10e5;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      line-height: 22px;
      font-size: 14px;
      font-weight: 600;
      box-shadow: -5px 5px 0px black;
      &:hover {
        background-color: #5d3be6;
        box-shadow: -7px 7px 0px black;
      }
    }
    /* adding about detailed section */
    .about {
      margin-right: 120px;
      margin-top: 70px;
      margin-left: 40px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 20px;
      h1 {
        font-size: 3.5rem;
      }
      h5 {
        font-size: 1.45rem;
      }
      /* .dropdown-container-content */
      .dropdown-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        .dropdown-items {
          select {
            height: 34px;
            width: 220px;
            /* padding: 10px; */
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
            transition: border-color 0.3s ease;
            &:hover {
              border-color: #3a10e5;
            }
          }
        }
        .dropdown-items {
          display: grid;
          grid-template-columns: 2fr 1fr;
          gap: 10px;
        }
        .eighteen-projects {
          position: absolute;
          bottom: 45px;
          right: 0;
          display: inline-block;
          text-align: bottomright;
          /* color: red; */
          margin-right: 120px;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
      }
    }
  }
}
